*{
    background-color: azure;
}
button{
    font-size: 25px;
    background-color: antiquewhite;
}
#sign{
    background-color: darkblue;
    color: antiquewhite;
    text-align: left;
}
.tag{
    background-color: aquamarine;
}

a{
    text-decoration: none;
}

footer a{
    text-decoration:none;
    color:black;
    
   
    
}
input[type="password"] {
   color:purple;
}

a[href*="g"]{
   color: blue;
   background-color:paleturquoise;
}

button:hover{
    background-color: white;
}

/* nav a:hover{
    text-decoration: underline;
}  */

a:hover{
    text-decoration: underline;
} 

button:active{
    color: white;
    background-color: black;
}

