h1,p,.link1{
    width:500px;
    background-color: aqua;
    border: 1px solid grey;
    padding: 10px;
    margin: 20px;
}
/* p and h are block line */
a{  
    /* width: fit-content; */
    background-color: aqua;
    border: 1px solid grey;
    display: flex;     /* to convert inline to blockline */
    padding: 5px;
}

a:hover{
    background-color: antiquewhite;
    padding: 1px;
}