p,ul{
    border:2px solid rebeccapurple;
    padding: .5em;
}

.block,li{
    border:2px solid red;
}
ul{
    display: flex;
    list-style: none;
}

.block{
    display: block;
}

span{
    border:2px solid green;
}